<div class="container">
  <h2>{{ welcome }}</h2>
  <ul>
    <li *ngFor="let task of tasks">
      {{ task }}
    </li>
  </ul>
  <hr />
  <h2>{{ "Hola".repeat(4) }}</h2>
  <p>la suma de 3 + 3 es: {{ 3 + 3 }}</p>
  <p>Soy {{ person.name }} y tengo {{ person.edad }} años uwu</p>
  <img [src]="person.img" alt="no-image" />
  <input type="text" [value]="person.name" />
  <button [disabled]="person.disabled">Clickeame UwU</button>
  <hr />
  <button (click)="clickHandler()">Clickeame UwU</button>
  <button (dblclick)="clickHandler()">Double Clickeame UwU</button>
  <p>(change)</p>
  <input type="number" [value]="person.edad" (change)="inputHandler($event)" />
  <p>(keydown)</p>
  <input type="text" [value]="person.name" (keydown)="keydownHandler($event)" />
  <p>(keydown atajo)</p>
  <input type="text" [value]="person.name" (keydown.shift.t)="clickHandler()" />
</div>
